<div class="bg-[#002768] main-header">
  <div class="container mx-auto px-4 flex items-center justify-between">
    <!-- Logo -->
    <div class="py-4">
      <img src="assets/main_logo.png" alt="Logo" class="h-[60px] w-auto" />
      <!-- <img
        src="assets/logo.svg"
        alt="Logo"
        class="h-10 w-auto shadow-2xl shadow-black rounded-full bg-white p-2"
      /> -->
    </div>

    <!-- Navigation Tabs -->
    <nav class="flex nav-container items-center gap-8 rtl">
      <a
        (click)="goToLogin()"
        routerLinkActive="active"
        class="text-white nav transition focus:hover:text-secondary text-xl cursor-pointer"
        >اجراء حجز</a
      >
      <a
        (click)="goToReservations()"
        routerLinkActive="active"
        class="text-white nav transition focus:hover:text-secondary text-xl cursor-pointer"
        >حسابي</a
      >
      <a
        *ngIf="user"
        (click)="logout()"
        routerLinkActive="active"
        class="text-white nav transition focus:hover:text-secondary text-xl cursor-pointer"
        >تسجيل خروج</a
      >
      <a
        *ngIf="!user"
        (click)="logout()"
        routerLinkActive="active"
        class="text-white nav transition focus:hover:text-secondary text-xl cursor-pointer"
        >تسجيل دخول</a
      >
    </nav>
  </div>
</div>
